body{
    background-color: #161616;
}


#container{
    width: 80vw;
    height: 90vh;
    border: 1px solid #eee ;
    margin: 50px auto;
    color : #fff !important;
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-between;
    gap: 30px;
}

#container > div{
 flex: 1;
 border: 1px solid #eee ;
 border-radius: 20px;
}
#container > div > h2{
text-align: center;
border-bottom: 1px solid #fff;
display: block;
}

.row{
    text-align: center;
    padding: 10px 0;
    background: #373737;
    margin-bottom: 10px;
  cursor: pointer;
}